.reactMarkDown {
}

.reactMarkDown ul {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: disc outside none;
}

.reactMarkDown ul li {
  margin-left: 1.2em;
  display: list-item;
  text-align: -webkit-match-parent;
}

.reactMarkDown h1 {
  border-bottom-width: thin;
  border-color:#abb2bf;
}

.reactMarkDown h2 {
  border-bottom-width: thin;
  border-color:#abb2bf;
}

.reactMarkDown h3 {
  border-bottom-width: thin;
  border-color:#abb2bf;
}

